requests
pycryptodome
curl_cffi
aiohttp
certifi
browser_cookie3
PyExecJS
duckduckgo-search
nest_asyncio
werkzeug
loguru
pillow
platformdirs
fastapi
uvicorn
flask
brotli
beautifulsoup4
aiohttp_socks
pywebview
plyer
cryptography
nodriver
g4f
